@page "/"

<div class="container">
    <input type="checkbox" id="toggle">
  <header>
        <section>Blazor Wasm - Crud usando API</section>
        <hr />
        <label for="toggle">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header>
    <section class="main">
        <section id="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.        
        Aenean vulputate ante mauris, quis mattis lectus imperdiet nec. 
    Maecenas dictum lectus a velit mattis, nec tristique sem varius.
Mauris sed sagittis ligula. Phasellus in libero dapibus, tincidunt 
tortor eget, condimentum nunc. Etiam sodales commodo arcu, tincidunt 
pretium enim aliquam id. Nam erat leo, maximus quis imperdiet nec, 
fermentum ut libero. Donec posuere sed metus quis tempus. Phasellus 
scelerisque ante non nisi condimentum vestibulum.</p>


            <p>Phasellus ut finibus arcu. Nam sed ex mi. Mauris nec lectus ac dui
        mollis mollis at et felis. Mauris gravida erat vitae orci luctus, a eleifend    
    lorem tempus. Mauris dolor nunc, pulvinar vel est sed, cursus bibendum erat. Sed
fermentum, lorem nec laoreet molestie, lorem velit interdum est, id fringilla justo 
sem nec sem. Suspendisse eu enim eleifend, tempus sem cursus, vestibulum nisl.</p>
        </section>
        <section id="menu">
            <navigation>
                <a href="/BlazorWasm/create">Criar</a>
                <a href="/BlazorWasm/list">Ver Todos</a>
            </navigation>
        </section>
        <hope/>
    </section>
</div>
