@page "/"

<div class="container">
    <input type="checkbox" id="toggle">
    <header>
        <section>Blazor Wasm</section>
        <label for="toggle">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header>
    <section class="main">
        <section id="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate ante mauris, quis mattis lectus imperdiet nec. Maecenas dictum lectus a velit mattis, nec tristique sem varius. Mauris sed sagittis ligula. Phasellus in libero dapibus, tincidunt tortor eget, condimentum nunc. Etiam sodales commodo arcu, tincidunt pretium enim aliquam id. Nam erat leo, maximus quis imperdiet nec, fermentum ut libero. Donec posuere sed metus quis tempus. Phasellus scelerisque ante non nisi condimentum vestibulum.</p>

            <p>Ut viverra eros vitae justo sagittis, non aliquet est aliquet. Aliquam iaculis dolor mauris, in malesuada ligula auctor at. Donec eget dapibus metus. Nulla sollicitudin, nisi in ultricies porttitor, eros ligula convallis ipsum, id semper ex libero eu purus. Duis tortor mi, volutpat vitae justo at, tempus finibus ex. Mauris interdum bibendum accumsan. Pellentesque tristique, eros id tristique viverra, ex leo varius ex, sed molestie lectus eros sed est. Sed mollis quis dui dapibus gravida. Nunc id lorem id lorem vehicula vehicula pulvinar et urna. Vivamus nisl libero, pellentesque eu laoreet ac, iaculis quis dolor. Nulla facilisi. Integer bibendum nunc a feugiat fermentum.</p>

            <p>Curabitur vitae efficitur nulla. Ut posuere varius nulla nec dignissim. Nullam tincidunt vulputate metus vel viverra. Fusce a mattis diam. Nam id ipsum ante. Etiam suscipit, sapien in pulvinar pulvinar, magna est auctor est, a venenatis leo mauris ultrices est. Donec cursus vehicula est, eu eleifend erat molestie nec. Fusce at ultricies enim. Sed ut sem pulvinar, lobortis diam in, placerat sapien. Phasellus justo ligula, feugiat in fermentum id, mollis dignissim mi. Mauris sed ligula tempus, luctus turpis ac, lacinia nisl. Pellentesque egestas convallis eros nec commodo. Nam vel consequat metus.</p>

            <p>Phasellus ut finibus arcu. Nam sed ex mi. Mauris nec lectus ac dui mollis mollis at et felis. Mauris gravida erat vitae orci luctus, a eleifend lorem tempus. Mauris dolor nunc, pulvinar vel est sed, cursus bibendum erat. Sed fermentum, lorem nec laoreet molestie, lorem velit interdum est, id fringilla justo sem nec sem. Suspendisse eu enim eleifend, tempus sem cursus, vestibulum nisl.</p>

            <p>Sed finibus elementum risus, sed consectetur diam auctor non. Vestibulum eu quam nec turpis porta elementum non in nibh. Suspendisse sit amet dictum erat. Pellentesque lacinia, neque in aliquet cursus, odio libero fermentum lectus, vel finibus ex est nec enim. Aenean mattis sapien quis tristique faucibus. Praesent justo ligula, mattis vel turpis aliquet, molestie pharetra metus. Donec placerat eu arcu eu accumsan. Sed ut faucibus ipsum. Etiam nunc justo, pharetra eget mi sit amet, facilisis lobortis nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </section>
        <section id="menu">
            <navigation>
                <a>Home</a>
                <a>About us</a>
                <a>Projects</a>
            </navigation>
        </section>
    </section>
</div>
