@page "/"

<div class="container">
    <input type="checkbox" id="toggle">
  <header>
        <section>Blazor Wasm - Consumindo API</section>
        <hr />
        <label for="toggle">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </header>
    <section class="main">
        <section id="content">
            

        </section>
        <section id="menu">
            <navigation>
                <a href="/BlazorWasm/create">Criar</a>
                <a href="/BlazorWasm/list">Ver Todos</a>
            </navigation>
        </section>
        <hope/>
    </section>
</div>
