@page "/404"
@inject NavigationManager NavigationManager

<div class="card customNotFound">
    <div class="card-body">
        <div class="row">
            <div class="col">
               Ops!<br />
               Algo deu errado.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-md-center m-5 text-primary">
        <button type="button" class="btn btn-primary" 
         @onclick="NavigateToHome">Home Page</button>
    </div>
</div>
<div class="row">
    <div class="col">
        If you want, you can report this error by clicking the following link: 
        <a href="/BlazorWasm/reportError/404/The page is missing">Report an error</a>
    </div>
</div>

@code {
      
    public void NavigateToHome()
    {
        NavigationManager.NavigateTo("/BlazorWasm/");
    }
}
