 <section id="menu">
            <navigation>
               <a href="/BlazorWasm/create">Criar</a>
                <a href="/BlazorWasm/list">Ver Todos</a>
            </navigation>
        </section>